* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: none;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  padding: 16px 0;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.sticky {
  padding: 16px 0;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
    a {
    background: url("images/icons/logo.svg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 120px;
    height: 14px;
  }
}

.header__logo,
.header__round-way,
.header__auth {
  display: flex;
  justify-items: center;
  align-items: center;
}

.header__round-way {
  display: flex;
  span {
    align-items: flex-end;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #626262;
    margin-right: 9px;
  }
  .asap__sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    .asap__sub-menu--link {
      display: flex;
      align-items: center;
      margin-right: 0;
      padding: 0 5px;
      text-transform: none;
    }
  }

  .asap {
    position: relative;
    display: flex;
    align-items: center;
    select {
      width: 65px;
      padding: 7px;
      text-align: center;
      outline: none !important;

    }
    select,
    option{
      margin-right: 9px;
      box-sizing: border-box;
      appearance: none;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
      border: 1px solid #e0e0e0;
      border-radius: 2px;

      text-align-last: center;
      text-align: center;
      text-transform: uppercase;
      color: #1d1d1d;
      outline: none !important;
      background-color: #fff;
      &{
        -webkit-appearance: none;
        appearance: none;
      }
      }
    }
  }

.destination {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  .destination__current-location {
    display: block;
    position: absolute;
    left: 12px;
    top: 12px;
    background-image: url(images/icons/location.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 15px;
    height: 17px;
  }
  input[type="text"] {
    width: 292px;
    padding: 7px 10px 7px 30px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;

    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 2px;

    transition: all 0.3s ease-in-out;
    color: #1d1d1d;
    outline: none !important;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #626262;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #626262;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #626262;
    }
  }
}

.auth__sign a,
.auth__register a {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  padding: 8px 15px;

  line-height: 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
  color: #1d1d1d;
}

.auth__sign a {
  margin-right: 16px;
  border: 1px solid #e0e0e0;
  &:hover {
    background-color: #59bd5a;
    color: #fff;
    border: 1px solid #59bd5a;
    box-shadow:
            0 2px 2px rgba(0,0,0,.1),
            0 4px 4px rgba(0,0,0,.1),
            0 8px 8px rgba(0,0,0,.1),
            0 16px 16px rgba(0,0,0,.1);
  }
}

.auth__register a {
  background: #262626;
  border: 1px solid #262626;
  color: #fff;
  margin-right: 27px;
  &:hover {
    background-color: #59bd5a;
    color: #fff;
    border: 1px solid #59bd5a;
    box-shadow:
            0 2px 2px rgba(0,0,0,.1),
            0 4px 4px rgba(0,0,0,.1),
            0 8px 8px rgba(0,0,0,.1),
            0 16px 16px rgba(0,0,0,.1);
  }
}

.auth__basket a {
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url(images/icons/basket.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  width: 16px;
  height: 19px;
}

.search__content {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #626262;
  margin-bottom: 56px;
  input[type="search"] {
    width: 100%;
    padding: 10px 10px 10px 30px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;

    border: none;
    box-sizing: border-box;
    border-radius: 2px;

    transition: all 0.3s ease-in-out;
    color: #1d1d1d;
    mix-blend-mode: normal;
    opacity: 0.5;
    outline: none !important;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #626262;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #626262;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #626262;
    }
}
}

.search__content--icon {
  position: absolute;
  top: 10px;
  left: 0;
  justify-content: end;
  align-items: center;
  background-image: url(images/icons/search.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.catalog {
  display: block;
  margin-bottom: 100px;
}

.catalog h1 {
  display: block;

  margin-bottom: 16px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;


  color: #1d1d1d;
}

.catalog__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.catalog__row-block {
  position: relative;
  display: flex;
  min-width: 32%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  mix-blend-mode: normal;
  cursor: pointer;
  transition: .3s all linear;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  &:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
  }
  @-webkit-keyframes circle {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  @keyframes circle {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }

  img {
    width: 320px;
    height: 100%;
  }
}

.catalog__row-block--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 320px;
  box-sizing: border-box;
  padding: 16px 0 20px;
  background: rgba(117, 117, 117, 0.02);
  mix-blend-mode: normal;
  .restaurant-table {
    display: flex;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #1d1d1d;
  }
  .catalog-items {
    display: flex;
    flex-direction: row;
    align-items: start;
    font-size: 14px;
    line-height: 21px;
    ul {
      display: flex;
      justify-content: start;
      flex-direction: row;
      li {
      display: flex;
      justify-content: start;
      flex-direction: row;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      line-height: 21px;
      align-items: center;
      color: #626262;
      list-style: none;
      &:before {
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        background-color: #626262;
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
    }
  }

    .currency {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      line-height: 21px;

      color: #626262;
    }
  }
}

.time {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 21px;

  /* identical to box height, or 162% */
  display: flex;
  align-items: center;

  color: #1d1d1d;
}

footer {
  padding: 50px 0 40px;
  background: #262626;
}

.logo-white {
  width: 100%;
  border-bottom: 1px solid #626262;
}

.logo-white a {
  display: flex;
  justify-content: start;
  background: url("images/icons/white-logo.svg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 200px;
  height: 40px;
  margin-bottom: 40px;
}

.site-map {
  display: flex;
  justify-content: safe;
  align-items: flex-start;
  padding: 30px 0;
  width: 100%;
  border-bottom: 1px solid #626262;
}

.site-map__cell {
  display: flex;
  flex-grow: 1;
  min-width: 33%;
  flex-direction: column;
  align-items: flex-start;
  &--language{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    margin-bottom: 33px;
    select {
      width: 176px;
      height: 40px;
      padding: 0 30%;
      background: #3B3B3B;
      border-radius: 2px;
      color: #fff;
      text-transform: uppercase;
      outline: none !important;
      text-align: center;
      text-align-last: center;
      cursor: pointer;
      border: none;
      option {
        left: 33%;
        width: 176px;
        height: 40px;
        outline: none !important;
        text-align: center;
        text-align-last: center;
        cursor: pointer;
      }
      &{
        -webkit-appearance: none;
        appearance: none;
      }
    }
    &::before {
      content: "";
      background: url("images/icons/world.svg") no-repeat center;
      width: 16px;
      height: 16px;
      position: absolute;
      top:12px;
      left: 16px;
    }
    &::after {
      content: "";
      background: url("images/icons/arrowBot.png") no-repeat center;
      width: 14px;
      height: 8px;
      position: absolute;
      top:16px;
      right: 8px;
    }
  }

  &__social a {
    display: flex;
    flex-direction: column;
    background: url("images/icons/social.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    width: 92px;
    height: 60px;
  }
  ul li.site-map__cell-link {
    display: flex;
    align-items: stretch;
    margin-bottom: 23px;
    list-style: none;
    &:last-child {
      margin-bottom: 0;

    }
    a {
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      line-height: 15px;
      border-bottom: 1px solid transparent;
      transition: .3s all ease-in-out;

      text-decoration: none;
      color: #fff;
      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.site-map__cell--social {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-between;
  a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    b {
      color: #49A144;
    }
  }
  .site-map__cell--social--links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a.fb,
    a.tw,
    a.in {
      display: flex;
      width: 18px;
      height: 18px;
      -webkit-background-size: contain;
      background-size: contain;
    }
    a.fb {
      background: url("images/icons/facebook.png") no-repeat center;
      margin-right: 20px;
    }
    a.tw {
      background: url("images/icons/twitter.png") no-repeat center;
      margin-right: 20px;
    }
    a.in {
      background: url("images/icons/instagram.png") no-repeat center;
    }
  }
}

.store {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid #626262;
  width: 100%;
  &__appStore{
     a {
      display: flex;
      flex-direction: row;
      justify-content: start;
      background: url("images/icons/appStore.png") no-repeat center;
      -webkit-background-size: contain;
      background-size: contain;
      width: 121px;
      height: 40px;
      margin-right: 40px;
    }
  }
  &__googlePlay{
     a {
      display: flex;
      flex-direction: row;
      justify-content: start;
      background: url("images/icons/googlePlay.png") no-repeat center;
      -webkit-background-size: contain;
      background-size: contain;
      width: 135px;
      height: 40px;
    }
  }
}



.privacy {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 40px;

  &__rights,
  &__link,
  &__terms {
    display: flex;
    min-width: 33%;
    flex-grow: 1;
    justify-content: flex-start;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    align-items: flex-end;
    color: #fff;
  }
  &__link,
  &__terms {
    text-decoration: none;
  }
}

#btn-top {
  display: none;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 24px;
  right: 16px;
  z-index: 99;
  outline: none;
  background-color: #59bd5a;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: infinite;
  img {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 25px;
  }
  &:hover {
    background-color: #262626;
    border: 1px solid #59bd5a;
    transition: all 0.5s ease-in-out;
  }
}

.search__round-way-mobile {
  display: none;
}

.h1-wrap {
  position: absolute;
  top: 20%;
  text-align: center;
}

.h1-wrap h1{
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.h1-wrap h1::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(89, 189, 90, .4);
  animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(-101%);
}

.h1-wrap h1::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(0);
}

.h1-wrap h1:nth-of-type(1)::before,
.h1-wrap h1:nth-of-type(1)::after{
  animation-delay: .3s;
}

.h1-wrap h1:nth-of-type(2)::before,
.h1-wrap h1:nth-of-type(2)::after{
  animation-delay: .7s;
}

@keyframes a-ltr-after{
  0% {transform: translateX(100%)}
  100% {transform: translateX(-101%)}
}

@keyframes a-ltr-before{
  0% {transform: translateX(0)}
  100% {transform: translateX(200%)}
}

@keyframes scaleBgPage{
  0% {
    transform: scale(3);
    top: 50%;
    left: 45%;
  }
  20% {
    transform: scale(2.8);
    top: 45%;
    left: 40%;
  }
  30% {
    transform: scale(2.6);
    top: 40%;
    left: 35%;
  }
  40% {
    transform: scale(2.4);
    top: 35%;
    left: 30%;
  }
  50% {
    transform: scale(2.2);
    top: 30%;
    left: 25%;
  }
  60% {
    transform: scale(2);
    top: 25%;
    left: 20%;
  }
  70% {
    transform: scale(1.7);
    top: 20%;
    left: 15%;
  }
  80% {
    transform: scale(1.4);
    top: 15%;
    left: 10%;
  }
  90% {
    transform: scale(1.2);
    top: 10%;
    left: 5%;
  }
  100% {
    transform: scale(1);
    top: 16px;
    left: 0;
  }
}
.bgPage__wrap {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
}
.bgPage {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: #fff;
  font-family: 'Lobster', cursive;
  .bgPage__logo {
    position: absolute;
    top: 50%;
    left: 43%;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    background: url("images/icons/logo.svg") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    animation: scaleBgPage .5s forwards;
    transform: scale(3);
  }

  h1 {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 56px;
    text-transform: uppercase;
    border-radius: 5px;
    &.green {
      color: #49A144;
      border-radius: 5px;
    }
  }
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  order: 12;
  background-color: rgba(98, 98, 98, .4);
}
  .modal {
    width: 300px;
    z-index: 1;
    padding: 20px;
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    .modal-close {
      margin: 5px 0 10px 225px;
      background: none;
      border: 0;
      box-sizing: border-box;
      color: transparent;
      cursor: pointer;
      line-height: 60px;
      outline: none;
      overflow: hidden;
      position: relative;
      text-transform: uppercase;
      transition: all 0.2s ease-in;
      width: 60px;
    }

    .modal-close::before,
    .modal-close::after {
      background-color: #49A144;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      transform-origin: center left;
      transition: all 0.2s ease-in;
      width: 100px;
      z-index: -1;
    }

    .modal-close::before {
      top: 0;
      transform: rotate(45deg);
    }

    .modal-close::after {
      bottom: 0;
      transform: rotate(-45deg);
    }

    .modal-close:hover {
      color: #fff;
    }

    .modal-close:hover::before,
    .modal-close:hover::after {
      height: 30px;
      transform: rotate(0deg);
    }

    form {
      input {
        width: 100%;
        height: 50px;
        padding: 14px 17px;
        border: 1px solid #49A144;
        box-sizing: border-box;
        border-radius: 3px;
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 24px;
        outline: none !important;
        background-color: #fff;
        color: #000;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #49A144;
          opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #49A144;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          color: #49A144;
        }
      }
      .submit {
        margin-top: 24px;
        background-color: #49A144;
        border-radius: 4px;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        transition: .3s all linear;
        cursor: pointer;
        &:hover {
          background-color: transparent;
          color: #49A144;
          border: 1px solid #49A144;
        }
      }
    }
  }
.hide {
  display: none;
}

#user-name {
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  margin-right: 5%;
}
